/*  your css code here. If applicable */
.container{
	background-color:#f5f5f5;
	padding:20px;
}
.testimonials{
	padding:10px;
	border:1px solid black;
	background-color:white;
	 margin-bottom: 20px;
}
#t1{
	text-align:right;
	font-style:italic;
}